.mediaViewInfo {
	--web-view-name: Home – White – Phone – Menu;
	--web-view-id: Home__White__Phone__Menu;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Home__White__Phone__Menu;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Home__White__Phone__Menu {
	position: absolute;
	width: 375px;
	height: 812px;
	background-color: rgba(233,236,239,1);
	overflow: hidden;
	--web-view-name: Home – White – Phone – Menu;
	--web-view-id: Home__White__Phone__Menu;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NavBar_sj {
	position: absolute;
	width: 321.572px;
	height: 71px;
	left: 19px;
	top: 16px;
	overflow: visible;
}
#Raggruppa_5_sk {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Raggruppa_4_sl {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#UP_sm {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rettangolo_16_sn {
	fill: rgba(233,236,239,1);
}
.Rettangolo_16_sn {
	filter: drop-shadow(15px 15px 25px rgba(173, 181, 189, 0.502));
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 146px;
	left: 0px;
	top: 0px;
}
#Rettangolo_17_so {
	fill: rgba(233,236,239,1);
}
.Rettangolo_17_so {
	filter: drop-shadow(-15px -15px 25px rgba(248, 249, 250, 1));
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 146px;
	left: 0px;
	top: 0px;
}
#Rettangolo_18_sp {
	fill: rgba(233,236,239,1);
}
.Rettangolo_18_sp {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
}
#DOWN_sq {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Raggruppa_3_sr {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MNF-labs_colorV2_ss {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#menu_st {
	position: absolute;
	width: 23.144px;
	height: 22.643px;
	left: 298.428px;
	top: 24.178px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home___White___Phone.html;
	cursor: pointer;
}
#Tracciato_21_su {
	fill: rgba(112,112,112,1);
}
.Tracciato_21_su {
	overflow: visible;
	position: absolute;
	width: 29.111px;
	height: 2.911px;
	transform: translate(-5.984px, -6.414px) matrix(1,0,0,1,2.7498,16.28) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Tracciato_23_sv {
	fill: rgba(112,112,112,1);
}
.Tracciato_23_sv {
	overflow: visible;
	position: absolute;
	width: 29.111px;
	height: 2.911px;
	transform: translate(-5.984px, -6.414px) matrix(1,0,0,1,3.25,16.28) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#NavBar_sw {
	position: absolute;
	width: 120px;
	height: 336px;
	left: 128px;
	top: 238px;
	overflow: visible;
}
#Raggruppa_84 {
	position: absolute;
	width: 78px;
	height: 34px;
	left: 21px;
	top: 302px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home___Black___Phone___Menu.html;
	cursor: pointer;
}
#Raggruppa_78_sy {
	position: absolute;
	width: 78px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rettangolo_59_sz {
	fill: rgba(220,230,240,1);
}
.Rettangolo_59_sz {
	filter: drop-shadow(6px 6px 10px rgba(173, 181, 189, 0.502));
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Rettangolo_60_s {
	fill: rgba(220,230,240,1);
}
.Rettangolo_60_s {
	filter: drop-shadow(-6px -6px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Rettangolo_61_s {
	fill: rgba(220,230,240,1);
}
.Rettangolo_61_s {
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Rettangolo_64_s {
	fill: rgba(251,133,0,1);
}
.Rettangolo_64_s {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 5px;
	top: 5px;
}
#sunny-outline_s {
	position: absolute;
	width: 16.881px;
	height: 16.881px;
	left: 8.56px;
	top: 8.56px;
	overflow: visible;
}
#Tracciato_12_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_12_s {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2.948px;
	left: 8.44px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_13_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_13_s {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2.948px;
	left: 8.44px;
	top: 14.933px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_14_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_14_s {
	overflow: visible;
	position: absolute;
	width: 2.791px;
	height: 2.791px;
	left: 13.032px;
	top: 2.472px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_15_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_15_s {
	overflow: visible;
	position: absolute;
	width: 2.792px;
	height: 2.791px;
	left: 2.473px;
	top: 13.031px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_16_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_16_s {
	overflow: visible;
	position: absolute;
	width: 2.948px;
	height: 1px;
	left: 14.933px;
	top: 8.44px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_17_s {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_17_s {
	overflow: visible;
	position: absolute;
	width: 2.948px;
	height: 1px;
	left: 0px;
	top: 8.44px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_18_ta {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_18_ta {
	overflow: visible;
	position: absolute;
	width: 2.791px;
	height: 2.791px;
	left: 13.032px;
	top: 13.032px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_19_tb {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_19_tb {
	overflow: visible;
	position: absolute;
	width: 2.792px;
	height: 2.791px;
	left: 2.473px;
	top: 2.472px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_20_tc {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_20_tc {
	overflow: visible;
	position: absolute;
	width: 7.493px;
	height: 7.492px;
	left: 5.194px;
	top: 5.194px;
	transform: matrix(1,0,0,1,0,0);
}
#moon-line_td {
	fill: rgba(73,80,87,1);
}
.moon-line_td {
	overflow: visible;
	position: absolute;
	width: 15.687px;
	height: 18px;
	left: 53.492px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#SHOP_te {
	left: 30px;
	top: 155px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#PORTFOLIO_tf {
	left: 0px;
	top: 82px;
	position: absolute;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Raggruppa_83 {
	position: absolute;
	width: 66px;
	height: 37px;
	left: 27px;
	top: 0px;
	overflow: visible;
}
#HOME_th {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Ellisse_1_ti {
	fill: rgba(251,133,0,1);
}
.Ellisse_1_ti {
	position: absolute;
	overflow: visible;
	width: 8px;
	height: 8px;
	left: 29px;
	top: 29px;
}