.mediaViewInfo {
	--web-view-name: LogIn – White – Phone;
	--web-view-id: LogIn__White__Phone;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: LogIn__White__Phone;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#LogIn__White__Phone {
	position: absolute;
	width: 375px;
	height: 811px;
	background-color: rgba(233,236,239,1);
	overflow: hidden;
	--web-view-name: LogIn – White – Phone;
	--web-view-id: LogIn__White__Phone;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-navigate-on-keypress: true;
	--web-refresh-for-changes: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#NavBar_s {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 19px;
	top: 16px;
	overflow: visible;
}
#Raggruppa_5_t {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Raggruppa_4_u {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#UP_v {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rettangolo_16_w {
	fill: rgba(233,236,239,1);
}
.Rettangolo_16_w {
	filter: drop-shadow(15px 15px 25px rgba(173, 181, 189, 0.502));
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 146px;
	left: 0px;
	top: 0px;
}
#Rettangolo_17_x {
	fill: rgba(233,236,239,1);
}
.Rettangolo_17_x {
	filter: drop-shadow(-15px -15px 25px rgba(248, 249, 250, 1));
	position: absolute;
	overflow: visible;
	width: 146px;
	height: 146px;
	left: 0px;
	top: 0px;
}
#Rettangolo_18_y {
	fill: rgba(233,236,239,1);
}
.Rettangolo_18_y {
	position: absolute;
	overflow: visible;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
}
#DOWN_ {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Raggruppa_3_ {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#MNF-labs_colorV2_ {
	position: absolute;
	width: 71px;
	height: 71px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#NavBar_a {
	position: absolute;
	width: 78px;
	height: 34px;
	left: 279px;
	top: 35px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Login___Black___Phone.html;
	cursor: pointer;
}
#Raggruppa_84_ {
	position: absolute;
	width: 78px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Raggruppa_78_ {
	position: absolute;
	width: 78px;
	height: 34px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rettangolo_59_ {
	fill: rgba(220,230,240,1);
}
.Rettangolo_59_ {
	filter: drop-shadow(6px 6px 10px rgba(173, 181, 189, 0.502));
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Rettangolo_60_ {
	fill: rgba(220,230,240,1);
}
.Rettangolo_60_ {
	filter: drop-shadow(-6px -6px 10px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 108px;
	height: 64px;
	left: 0px;
	top: 0px;
}
#Rettangolo_61_ {
	fill: rgba(220,230,240,1);
}
.Rettangolo_61_ {
	position: absolute;
	overflow: visible;
	width: 78px;
	height: 34px;
	left: 0px;
	top: 0px;
}
#Rettangolo_64_ {
	fill: rgba(251,133,0,1);
}
.Rettangolo_64_ {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.251));
	position: absolute;
	overflow: visible;
	width: 42px;
	height: 42px;
	left: 5px;
	top: 5px;
}
#sunny-outline_ {
	position: absolute;
	width: 16.881px;
	height: 16.881px;
	left: 8.56px;
	top: 8.56px;
	overflow: visible;
}
#Tracciato_12_a {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_12_a {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2.948px;
	left: 8.44px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_13_b {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_13_b {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 2.948px;
	left: 8.44px;
	top: 14.933px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_14_c {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_14_c {
	overflow: visible;
	position: absolute;
	width: 2.791px;
	height: 2.791px;
	left: 13.032px;
	top: 2.472px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_15_d {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_15_d {
	overflow: visible;
	position: absolute;
	width: 2.792px;
	height: 2.791px;
	left: 2.473px;
	top: 13.031px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_16_e {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_16_e {
	overflow: visible;
	position: absolute;
	width: 2.948px;
	height: 1px;
	left: 14.933px;
	top: 8.44px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_17_f {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_17_f {
	overflow: visible;
	position: absolute;
	width: 2.948px;
	height: 1px;
	left: 0px;
	top: 8.44px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_18_g {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_18_g {
	overflow: visible;
	position: absolute;
	width: 2.791px;
	height: 2.791px;
	left: 13.032px;
	top: 13.032px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_19_h {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_19_h {
	overflow: visible;
	position: absolute;
	width: 2.792px;
	height: 2.791px;
	left: 2.473px;
	top: 2.472px;
	transform: matrix(1,0,0,1,0,0);
}
#Tracciato_20_i {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	shape-rendering: auto;
}
.Tracciato_20_i {
	overflow: visible;
	position: absolute;
	width: 7.493px;
	height: 7.493px;
	left: 5.194px;
	top: 5.194px;
	transform: matrix(1,0,0,1,0,0);
}
#moon-line_j {
	fill: rgba(73,80,87,1);
}
.moon-line_j {
	overflow: visible;
	position: absolute;
	width: 15.687px;
	height: 18px;
	left: 53.492px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#Raggruppa_87_k {
	position: absolute;
	width: 310px;
	height: 60px;
	left: 33px;
	top: 239px;
	overflow: visible;
}
#Rettangolo_65_l {
	fill: rgba(255,255,255,1);
}
.Rettangolo_65_l {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Mail_m {
	left: 13px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 56px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Raggruppa_88_n {
	position: absolute;
	width: 310px;
	height: 60px;
	left: 33px;
	top: 328px;
	overflow: visible;
}
#Rettangolo_66_o {
	fill: rgba(255,255,255,1);
}
.Rettangolo_66_o {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Nome_e_Cognome_p {
	left: 13px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 196px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Raggruppa_89_q {
	position: absolute;
	width: 310px;
	height: 60px;
	left: 33px;
	top: 419px;
	overflow: visible;
}
#Rettangolo_67_r {
	fill: rgba(255,255,255,1);
}
.Rettangolo_67_r {
	position: absolute;
	overflow: visible;
	width: 310px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#Password_s {
	left: 13px;
	top: 20px;
	position: absolute;
	overflow: visible;
	width: 110px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#Raggruppa_91_t {
	position: absolute;
	width: 202px;
	height: 54px;
	left: 87px;
	top: 570px;
	overflow: visible;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home___White___Phone.html;
	cursor: pointer;
}
#Raggruppa_71_u {
	position: absolute;
	width: 202px;
	height: 54px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Rettangolo_50_v {
	fill: rgba(233,236,239,1);
}
.Rettangolo_50_v {
	filter: drop-shadow(15px 15px 25px rgba(108, 117, 125, 0.502));
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 129px;
	left: 0px;
	top: 0px;
}
#Rettangolo_51_w {
	fill: rgba(233,236,239,1);
}
.Rettangolo_51_w {
	filter: drop-shadow(-15px -15px 25px rgba(255, 255, 255, 1));
	position: absolute;
	overflow: visible;
	width: 277px;
	height: 129px;
	left: 0px;
	top: 0px;
}
#Rettangolo_52_x {
	fill: rgba(233,236,239,1);
}
.Rettangolo_52_x {
	position: absolute;
	overflow: visible;
	width: 202px;
	height: 54px;
	left: 0px;
	top: 0px;
}
#LOG_IN_y {
	left: 48px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: lighter;
	font-size: 30px;
	color: rgba(251,133,0,1);
}
#Non_hai_un_account_registrati {
	left: 17px;
	top: 708px;
	position: absolute;
	overflow: visible;
	width: 343px;
	white-space: nowrap;
	transition: all 0.3s ease-out;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: SignIn___White___Phone.html;
	cursor: pointer;
	text-align: left;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	color: rgba(112,112,112,1);
}